{% extends "base.html" %} {% block title %} Register {% endblock %}

{% block content %}

<div class="container">

<h2 class="display-1">Sign Up Here</h2>
<p class="lead">To create an account, register below!</p>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Register</button>
    <a href="/login" class="btn btn-primary">Login</a>
        
 
</form>

</div>
{% endblock %}